/*
BODY
.page-template-default page page-id-123 custom-background et-tb-has-template et-tb-has-header _masterslider _ms_version_3.8.1 et_pb_button_helper_class et_pb_footer_columns4 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_smooth_scroll et_no_sidebar et_divi_theme et-db gecko

    DIV (id)
    ### CONTAINER für BODY
    #page-container

        DIV (id & class)
        #et-boc & .et-boc
        
            HEADER (class)
            ### Beginn des HEAD-Bereich inkl. Navigation und Logo
            .et-l & .et-l--header
            
            DIV (id)
            ### Beginn des CONTENT-Bereich
            #et-main-area
            
                DIV (id)
                #main-content
                
                    ARTICLE (id & class)
                    ### 
                    .post-123 page type-page status-publish hentry
                    
                        DIV (class)
                        .entry-content
                        
                            DIV (class)
                            .et-l & .et-l--post
                            
                                DIV (class)
                                .et_builder_inner_content & .et_pb_gutters3
                                
                                    DIV (class)
                                    ### Hier beginnt eine SECTION / REIHE
                                    .et_pb_section & et_pb_section_0 & et_section_regular

                                        DIV (class)
                                        ### REIHE ### über die gesamte Breite
                                        .et_pb_row
                                        # unwichtig
                                        .et_pb_row_0

                                            DIV (class) !!! .et_pb_column
                                            ### Aufteilung einer REIHE
                                            .et_pb_column & et_pb_column_4_4 = eine Spalte
                                            .et_pb_column & et_pb_column_1_2 = zwei Spalten
                                            .et_pb_column & et_pb_column_1_3 = drei Spalten
                                            .et_pb_column & et_pb_column_1_4 = vier Spalten
                                            .et_pb_column & et_pb_column_1_5 = fünf Spalten
                                            ...
                                            # unwichtig
                                            .et_pb_column_0 & et_pb_css_mix_blend_mode_passthrough & et-last-child

                                                DIV (class)
                                                ### SPALTE !!! .et_pb_module
                                                .et_pb_module & et_pb_text & et_pb_text_0 &  et_pb_text_align_left & et_pb_bg_layout_light
                                                .et_pb_module & et_pb_image & et_pb_image_0
                                                .et_pb_module & et_pb_menu et_pb_menu_0_tb_header et_pb_bg_layout_light  et_pb_text_align_left et_dropdown_animation_fade et_pb_menu--without-logo et_pb_menu--style-left_aligned

                                                    DIV (class)
                                                    ### Type Text
                                                    .et_pb_text_inner
                                                    ### Type Image
                                                    .et_pb_image
                                                    ### Type Menü
                                                    .et_pb_menu

                                                    SPAN (class)
                                                    ### um IMAGE-Tag
                                                    .et_pb_image_wrap
                                                    
                                                    DIV (class)
                                                    ###
                                                    .et_pb_menu_inner_container clearfix

                                                        DIV (class) 
                                                        ### 
                                                        .et_pb_menu__wrap

                                                            DIV (class)
                                                            ###
                                                            .et_pb_menu__menu

                                                            NAV (class)
                                                            ### 
                                                            .et-menu-nav

                                                                UL (id & class)
                                                                ###
                                                                #menu-menue & .et-menu nav

                                                                    LI (class)
                                                                    ###
                                                                    .menu-item
                                                                    .current-menu-item
                                                                    .menu-item-has-children

                                                                    ### optional
                                                                    .home menu-item-59
                                                                    .et_pb_menu_page_id-home menu-item menu-item-type-post_type menu-item-object-page menu-item-home



*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-gtpressura: "'GTPressura', Arial, Helvetica, sans-serif'";
    --font-ptserif: "'PT Serif', Arial, Helvetica, sans-serif";
}

body {
    font-family: 'GTPressura', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 100;
    color: #000 !important;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.et_pb_text_inner p {
    _font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 35px;
    _letter-spacing: 0.4px;
    text-transform: none;
}

.et_pb_column_1_2>.projekt_absatz,
.et_pb_column_1_2>.et_pb_text_inner p {
    width: 100%;
    padding-top: 20px;
}



/**
*
* HEADLINE
*
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}

h2 {
    font-size: 40px;
    line-height: 80px;
    font-weight: 700;
    border-bottom: 2px solid #000;
    text-transform: uppercase !important;
    letter-spacing: 2.1px !important;
    word-spacing: 2px;
}

h3 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
}


/**
*
* REIHEN
*
*/
.et_pb_row {
    margin: auto;
    margin: 0px 5% 0px 5%;
    width: 90%;
    min-width: 960px;
    max-width: 1100px;
    _height: 185px;
}

.et_pb_menu_0_tb_header {
    padding-top: 0 !important;
    padding-left: 0 !important;
}

/**
*
* eine Text-Spalte
*
*/
.et_pb_column_4_4 {
    width: auto;
}

.et_pb_column_4_4 .et_pb_text_inner {
    width: 960px;
}

.ein_text p {
    font-family: 'PT Serif', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 35px;
    word-spacing: 2px;
    margin-bottom: 12px;
    padding-bottom: 0;
}

p:not(.has-background):last-of-type {
    padding-bottom: 0;
    margin-bottom: 12px;
}


/**
*
* zwei Spalten
* PROJEKTÜBERSICHT
*
*/

.et_pb_column_1_2 {
    width: auto;
}

.overview>.et_pb_column_1 {
    width: 465px !important;
    margin-right: 31px !important;
}

.overview>.et_pb_column_2 {
    margin-top: 10px !important;
    margin-left: 30px !important;
    width: 328px !important;
}

.overview p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.4px;
    text-transform: none;
}

.et_pb_image a {
    line-height: 0;
    border: #fff solid 0px;
}

.et_pb_text_inner a {
    font-family: 'GTPressura', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    line-height: auto;
    letter-spacing: 2.1px;
    border-bottom: 2px solid #000;
}

.et_pb_module {
    margin-bottom: 0 !important;
}

div.buero-adressen p {
    _font-family: 'GTPressura', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

div.nav_images>.et_pb_column_1_3 {
    width: 300px;
}

div.nav_images>.et_pb_column {
    margin-right: 30px;
}

div.nav_images h3 {
    width: 280px;
    _font-family: 'GTPressura', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: -5px;
    _background-color: #000;
}

.projekt_leistungen h5 {
    font-family: 'GTPressura', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    line-height: auto;
    letter-spacing: 2.1px;
    color: #a4af9f;
    font-weight: 300;
}


/**
*
* NAVIGATION
*
*/
/*
.et-menu .menu-item-has-children>a:first-child::after {
    display: none;
}

.et-menu .menu-item-has-children>a:first-child {
    padding-right: 0;
}

.et_pb_menu--without-logo .et_pb_menu__menu>nav>ul>li>a {
    padding-bottom: 0;
}

.et_pb_menu_0_tb_header.et_pb_menu ul li a {
    display: block;
    margin: auto;
    margin-right: auto;
    margin-right: 28px;
    padding: 0px;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1.1px;
    font-family: 'GTPressura', sans-serif;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
}*/

/* */

.et_pb_row {
    max-width: 960px !important;
    margin: auto !important;
    display: inline-block;
}

/*
#main-content a {
    font-family: 'GTPressura', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    line-height: auto;
    letter-spacing: 2.1px;
    border-bottom: 2px solid #000;
}
*/

/*
ul.sub-menu {
    padding: 20px 20px 14px 20px;
    min-width: 300px;
    width: 300px !important;
    display: inline-block;
}

.nav li li {
    display: inline-block;
    position: relative;
    line-height: 2em;
    padding: 0 20px;
    margin: 0;
}

.et_pb_menu .et-menu-nav>ul ul {
    padding: 0;
    text-align: left;

}

.et_pb_menu_0_tb_header.et_pb_menu .nav li ul.sub-menu a {
    display: block;
    margin: auto;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
    font-family: 'GTPressura', sans-serif;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}
*/